
<label for={{name}} class="d(b) w(100%) small m-b(2)">{{labelText}}</label>
<input class="d(b) w(100%) bgc(white) bgc(white):f c(black) c(black):f bd(1) bdrad(0) bdc(black) p(2) m-b(3) trs(all)"
  type={{type}}
  name={{name}}
  value={{value}}
  minlength={{minlength}}
  maxlength={{maxlength}}
  onfocusout={{action update}}
  onchange={{action update}}
  tabindex={{tabindex}}>
{{yield}}