<div class="w(11col)s w(8col)m w(6col)l p-x(3) bd(0) ff(sans) m-y(3) f(a) fd(col) ai(c)">
  <h1 class="fs(l) c(primary-d1)">Register App</h1>
  <p>Visit the register form, a demo using immutable data.</p>
  <p>
    {{#link-to "register" class="c(primary-d1)"}}Go →{{/link-to}}
  </p>
</div>
{{outlet}}
