<form data-test-id="register" name="register" {{action 'register' on='submit'}} method="" action="">
  <fieldset class="w(11col)s w(8col)m w(6col)l p-x(3) bd(0) ff(sans) m-y(3) f(a) fd(col) ai(c)">
    <legend class="fs(l) c(primary-d1)">Register</legend>
    <br>
    {{#each model.inputs as |input|}}
      {{input-text model=input onUpdate=(action 'update' input)}}
    {{/each}}
    <br>
    <button type="submit" tabindex="4" class="bd(1) bdc(primary-d1) bgc(primary) bgc(primary-d1):h bdrad(2) c(white) fw(600) tt(uc) p(2) trs(all)">
      Submit
    </button>
  </fieldset>
</form>
{{outlet}}
