<div data-test-id="success" class="w(11col)s w(8col)m w(6col)l p-x(3) bd(0) ff(sans) m-y(3) f(a) fd(col) ai(c)">
  <h1 class="fs(l) c(success-d1)">Success!</h1>
  <p class="c(black)">{{model.message}}</p>
</div>
{{outlet}}
